{% extends 'CatalogBundle::layout.html.twig' %}

{% block body %}

    {%if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        <a href="{{ path('logout')}}">Logout</a>
    {% else %}
        <a href="{{ path('login')}}">Login</a>
    {% endif %}
    <h1>Catalogs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Releasedate</th>
                <th>Imagename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalog in catalogs %}
            <tr>
                <td><a href="{{ path('catalog_show', { 'slug': catalog.slug }) }}">{{ catalog.id }}</a></td>
                <td>{{ catalog.name | bold | raw}}</td>
                <td>{{ catalog.description }}</td>
                <td>{% if catalog.releaseDate %}{{ catalog.releaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ catalog.imageName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalog_show', { 'slug': catalog.slug }) }}">show</a>
                        </li>
                        {% if app.user == catalog.author %}
                        <li>
                            <a href="{{ path('catalog_edit', { 'id': catalog.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%if is_granted('ROLE_ADMIN')%}

    <ul>
        <li>
            <a href="{{ path('catalog_new') }}">Create a new catalog</a>
        </li>
    </ul>
    {% endif %}

{% endblock %}
